.input {
  font-size: inherit;
  box-sizing: border-box;
  padding: .8rem;
  border: 2px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.input::-webkit-inner-spin-button, .input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
