.landing-page-panel {
  position: relative;
  text-align: center;
  border-width: 1px 0px;
  border-style: solid;
}

.landing-page-panel:nth-child(even) {
  background-color: white;
  border-color: rgba(60, 192, 167, .4);
}

.landing-page-panel:nth-child(odd) {
  background-color: #3CC0A7;
  border-color: rgba(255, 255, 255, .5);
}

.landing-page-panel__content {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 800px;
}

.landing-page-panel__content p {
  font-size: 2rem;
}

.landing-page-panel__content p span {
  color: #000;
  font-weight: bold;
}
