@import url('https://fonts.googleapis.com/css?family=Montserrat'); 
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

html {
  font-size: 16px;
}

  body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
  }

  figure {
    margin: 0;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Josefin Slab', serif;
  }

  a {
    text-decoration: none;
    color: #333;
    text-decoration-skip: ink;
  }

  a:hover {
    text-decoration: underline solid #333;
  }

  a:focus,
  button:focus {
    outline: 0px solid #333;
    outline-offset: 2px;
  }

  @media (max-width: 599px) {
    html {
      font-size: 15px;
    }
  }

  @media (min-width: 1599px) {
    html {
      font-size: 18px;
    }
  }
